{
	"extends": ["@rocketsarenostalgic/quality-config/stylelint/wordpress"],
	"ignoreFiles": [
		"**/*.md",
		"node_modules/**/*",
		"vendor/**/*",
		"dist/**/*",
		"*.xml"
	],
	"rules": {
		"selector-class-pattern": null,
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"except": ["after-single-line-comment", "first-nested"]
			}
		]
	}
}
